@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

body{
    height: 100%;
}

.pirate-card{

}
.border-3 {
    border-width:4px !important;
}


#ocean-bg{
    background-color: darkseagreen;
}

#noman-land{
    height: 23vh;
}